// VARS
$text: #3F3F3F;
$main: #009597;
$grey: #6E7C87;
$cyan: #94CAD4;

// EXTENDS
%hover {
  transition: all 0.1s ease-in;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

%color{
  transition: akk 0.02s;
  cursor: pointer;
  &:hover{
    color: $main;
  }
}

%close{
  img{
    transition: all 0.05s linear;
  }

  &:hover{
    img{
      transform: rotate(-90deg);
    }
  }
}

@mixin border($border) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  select,
  .btn,
  textarea {
    border-radius: $border;
  }
}

@mixin height($height) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  select,
  .btn {
    height: $height;
  }
}

@mixin padding($paddingY, $paddingX) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  select,
  input[type="url"] {
    padding: $paddingY $paddingX;
  }
}

@mixin clamp($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%white{
  filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7465%) hue-rotate(210deg) brightness(124%) contrast(117%);
}

%color{
  transition: color 0.1s;
  &:hover{
    color: $main;
  }
}

%line{
  position: relative;
  padding-bottom: 2px;
  color: $main;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    background-color: $main;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: all 0.1s linear;
  }

  &:hover::before{
    width: 0;
  }
}

%selectHide {
  &::selection {
    background-color: transparent;
  }

  *::selection {
    background-color: transparent;
  }
}

%icon{
  font: normal normal normal 14px / 1 FontAwesome;
}


// select{
//     padding-right: 20px;
//     -moz-appearance: none !important;
//     appearance: none !important;
//     -webkit-appearance: none !important;
//     background-image: url('../images/select-down.svg') !important;
//     background-repeat: no-repeat !important;
//     background-position: right 0px center !important;
//     background-size: 10px !important;
//     outline: none;
//     &:focus {
//       background-image: url('../images/select-up.svg') !important;
//     }
// }

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-shrink: 0;
  &::after {
    content: '';
    height: 100%;
    border-radius: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    position: absolute;
    background-color: $main;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $grey;
    transition: all 0.1s ease-in;
  }

  &:checked {
    &::after {
      background-color: $main;
      background-image: url('../images/check-icon.svg');
    }
  }
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-shrink: 0;
  &::after {
    content: '';
    height: 100%;
    border-radius: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    position: absolute;
    background-color: $main;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $grey;
    transition: all 0.1s ease-in;
  }

  &:checked {
    &::after {
      background-color: $main;
      background-image: url('../images/radio-icon.svg');
    }
  }
}